.skill {
  margin: 50px 0 150px;
}
.skill__card {
  font-family: "Oswald";
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 20px 25px 20px;
}

.skill__icon {
  width: 100px;
  height: 100px;
  font-size: 72px;
  /* margin-bottom: 20px; */
}
.ic-react {
  color: rgb(0, 188, 212);
}
.ic-android {
  color: rgb(135, 186, 75);
}
.ic-node {
  color: rgb(140, 200, 74);
}
.skill__label {
  font-size: 26px;
}

.skill__label:hover {
  background: linear-gradient(to right, #92fe9d 0%, #00c9ff 50%, #92fe9d 100%);
  /* background: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%); */
  /* background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
